img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.services-area { background-color: #ffffff !important; }
.services-area .widget-title { color: #969696; }
.services-area .widget-title:after { border-color: #936e3e; }
.service-icon { background-color: #936e3e; }
.service-title { color: #936e3e; }
.service-desc { color: #adadad; }
.employees-area .widget-title:after { border-color: #936e3e; }
.employee-name { color: #222; }
.testimonials-area .widget-title:after { border-color: #936e3e; }
.client-name { color: #222; }
.skills-area .widget-title:after { border-color: #936e3e; }
.skill-bar div { background-color: #936e3e; }
.facts-area .widget-title:after { border-color: #936e3e; }
.fact { color: #936e3e; }
.clients-area .widget-title:after { border-color: #936e3e; }
.slick-prev:before, .slick-next:before { color: #936e3e; }
.blockquote-area .widget-title:after { border-color: #936e3e; }
.blockquote-area blockquote:before { color: #936e3e; }
.social-area .widget-title:after { border-color: #936e3e; }
.social-area a:before { color: #936e3e; }
.projects-area .widget-title:after { border-color: #936e3e; }
.project-image { background-color: #936e3e; }
.link-icon, .pp-icon { color: #936e3e; }
.latest-news-area { background-color: #ffffff !important; }
.latest-news-area .widget-title:after { border-color: #936e3e; }
.action-area .widget-title:after { border-color: #936e3e; }
.action-text { color: #aaa; }
.call-to-action { background-color: #936e3e; }
.call-to-action { box-shadow: 0 5px 0 #936e3e; }
.welcome-button { background-color: #936e3e; }
.welcome-button { box-shadow: 0 5px 0 #936e3e; }
.welcome-button:active { box-shadow: 0 2px 0 #936e3e; }
.post-navigation .nav-previous, .post-navigation .nav-next, .paging-navigation .nav-previous, .paging-navigation .nav-next, .comment-respond input[type="submit"], ::selection { background-color: #ffffff; }
.main-navigation a:hover, .entry-title a:hover, .entry-meta a:hover, .entry-footer a:hover, .social-widget li a::before, .author-social a, .widget a:hover, blockquote:before { color: #ffffff; }
.site-title a { color: #ededed; }
.site-description { color: #afafaf; }
.entry-title, .entry-title a { color: #565656; }
body { color: #636363; }
.top-bar { background-color: #1e1e1e; }
.footer-widget-area, .site-footer { background-color: #353535; }
h1 { font-size:37px; }
h2 { font-size:16px; }
h3 { font-size:25px; }
h4 { font-size:22px; }
h5 { font-size:36px; }
h6 { font-size:11px; }
body { font-size:16px; }


@media only screen and (min-width: 1025px) {
    .has-banner:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: url() no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 60%;
    }
}
body.custom-background { background-color: #ffffff; }
