<nav id="site-navigation" class="main-navigation fixed-top" role="navigation">
    <button class="menu-toggle btn"><i class="fa fa-bars"></i></button>
    <div class="menu-posts-container">
        <ul id="menu-posts" class="menu">
            <li id="menu-item-133"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-106 current_page_item menu-item-133">
                <a href="{{ '/' | absolute_url }}">Home</a></li>
            <li id="menu-item-311"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-311"><a
                    href="{{ '/about' | absolute_url }}">About</a></li>
            <li id="menu-item-118"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-118"><a
                    href="{{ '/oracle-the-first-from-the-head-of-a-thracian' | absolute_url }}">Thracian</a>
            </li>
            <li id="menu-item-212"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-212"><a
                    href="{{ '/oracle-the-second-from-the-head-of-a-demi-god' | absolute_url }}">Demi-God</a>
            </li>
            <li id="menu-item-221"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-221"><a
                    href="{{ '/oracle-the-third-from-the-head-of-the-great-god' | absolute_url }}">Great
                God</a></li>
            <li id="menu-item-243"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-243"><a
                    href="{{ '/oracle-the-fourth-from-the-head-of-a-mouse' | absolute_url }}">Mouse</a>
            </li>
            <li id="menu-item-259"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-259"><a
                    href="{{ '/oracle-the-fifth-from-the-head-of-a-horse' | absolute_url }}">Horse</a>
            </li>
            <li id="menu-item-271"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-271"><a
                    href="{{ '/oracle-the-sixth-from-the-head-of-a-deer' | absolute_url }}">Deer</a>
            </li>
            <li id="menu-item-286"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-286"><a
                    href="{{ '/oracle-the-seventh-from-the-head-of-an-evenki' | absolute_url }}">Evenki</a>
            </li>
            <li id="menu-item-121"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a
                    href="{{ '/credits' | absolute_url }}">Credits</a></li>
        </ul>
    </div>
</nav>